.hero {
    background-image: url(../../imgs/hero.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    width: 100%;
    margin-top: 7.7rem;

    & .wrapper {
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}

.project-highlights {
    padding: $padding-extra-large;

    & .wrapper {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }
}

.features {
    padding: $padding-extra-large;
}