//Colors
$primary-color: #fff;
$color-secondary: #080808;
$color-tertiary: #7A7A7A;
$color-quaternary: #0049e2;

//Fonts
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Poppins', sans-serif;

//Paddings
$padding-small: 2.5rem 0rem;
$padding-medium: 5rem 0rem;
$padding-large: 7.5rem 0rem;
$padding-extra-large: 10rem 0rem;